* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  img {
    width: 100%;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: justify;
    background-color: #F2F4F4;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  header {
    background-color: #979595;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat; 
    background-size: cover;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  .submenu {
    display: none; /* Ocultar submenú por defecto */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  /* Agregamos un poco de estilos al submenu */
  .submenu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* En este paso agregamos un cursor para cuando pase por el elemento padre */
  li:hover .submenu {
    display: block; /* Mostrar submenú al pasar el cursor sobre el elemento padre */
  }
  
  .login-form {
    display: flex;
    align-items: center;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    padding: 5px;
    margin-right: 5px;
  }
  
  .login-form button {
    padding: 5px 10px;
  }
  
  .container {
    padding: 20px; 
  }
  
  p {
    margin-top: 30px;
    color: black;
    line-height: 1.5;
    font-size: 20px;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  .Pie{
    text-align: center;
    color: white;
  }
  
  h1{
    color: black;
    display:flex;
    justify-content: center;
    margin-top: 35px;
    border: solid 5px;
    border-radius: 10px;
    width: 850px;
    background-color: azure;
  }
  .titulo{
    color:black;
  }
  
  
  
  .contactanos{
    border-top: white;
    border: solid 5px;
    background-color: #F2F4F4;
  }
  h2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .contact-icons img {
    width: 80px;
    height: 80px;
  }
  .inferior{
    color: black;
    display: flex;
    justify-content: center;
  }
  button{
    border-radius: 10px;
  }
  .container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .form-label {
    color: #fff;
    margin-bottom: 5px;
  }
  
  .form-control {
    background-color: #222;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .btn-primary {
    background-color: #ff5c00;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #ff8b3d;
  }
  
  .Pie {
    color: #fff;
    text-align: center;
    margin-top: 30px;
  }
  